/* .feed-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    height: 86vh;
} */
 .video-styles1{
  width: 35vw;
  height: 55vh;
  /* scroll-snap-align: start; */
}
